/* Load external fonts as a font face */
@font-face {
    font-family: 'Helvetica CE 35 Thin';
    src: url('../resources/HelveticaCE35Thin.ttf');
}

@font-face {
    font-family: 'HelveticaNeue LT 37 ThinCn';
    src: url('../resources/HelveticaLT37ThinCondensed.ttf');
}

/* Component margin and padding settings */
.root {
    -fx-background-color: white;
    -fx-font-family: 'Helvetica CE 35 Thin';
    -fx-font-size: 14;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: white;
}

.scroll-pane-history {
    -fx-padding: 0 15 0 30;
}

.scroll-pane-tasks {
    -fx-padding: 0 15 0 15;
}
.scroll-pane-events {
    -fx-padding: 0 30 0 15;
}

/* Component font settings */
.label-title {
    -fx-font-size: 30;
    -fx-padding: 10 0 0 5;
}

.label-filepath {
    -fx-font-size: 13;
}

.label-scroll-title {
    -fx-font-size: 16;
    -fx-underline: true;
    -fx-padding: 30 20 20 20;
}