@font-face {
	src: url('../resources/PTS75F.ttf');
}

@font-face {
	src: url('../resources/PTS56F.ttf');
}

@font-face {
	src: url('../resources/PTS55F_0.ttf');
}

@font-face {
	src: url('../resources/PTS76F.ttf');
}

.root {
    -fx-background-image: url("../resources/windowBG.jpg");
    /* Original background color #dedede */
}

.text {
    -fx-font-smoothing-type: lcd;
    -fx-font-family: "PT Sans";
    -fx-opacity: 0.9;
}

.display-bar {
	-fx-font-style: italic;
	-fx-font-size: 14;
}

.line {
    -fx-opacity: 0.5;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-image: url("../resources/windowBG.jpg");
    -fx-font-size: 13;
}

/* JavaFX 8 issue with viewport transparency */
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.gradient-regular {
    -fx-background-color:
        linear-gradient(to top, #eeeeee, #f1f1f1);
}

.gradient-sidebar {
    -fx-background-color:
        linear-gradient(to top, #eeeeee, #f1f1f1);
}

.gradient-selected {
	-fx-background-color:
        linear-gradient(to top, #d9d9d9, #cccccc);
}

.element {
	-fx-background-color: #f0f0f0;
	-fx-background-image: url("../resources/elementBG.jpg");
	/* -fx-effect: dropshadow(gaussian, gray, 3, 0.2, 0, 1); */
}

.element-title {
	-fx-font-size: 14;
	-fx-font-weight: bold;
}

.box-title {
	-fx-font-size: 14;
	-fx-font-weight: bold;
	-fx-background-image: url("../resources/sbBG.jpg");
}

.box-title-label {
	-fx-text-fill: #e5e5e5;
}

.sidebar {
	-fx-background-image: url(../resources/sbBG.jpg);
}