@font-face {
    font-family: 'PT Sans';
    src: url('../resources/PTS75F.ttf');
}

.root {
    -fx-background-color: #dedede;
}

.text {
    -fx-font-family: 'PT Sans';
    -fx-font-size: 14;
    -fx-font-smoothing-type: gray;
    -fx-opacity: 0.9;
}

.line {
    -fx-opacity: 0.5;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: #dedede;
}

.gradient-regular {
    -fx-background-color:
        linear-gradient(to top, #f0f0f0, #fafafa);
}